<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8" />
<!--    <title th:text="#{title}"></title>-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <<!--link rel="shortcut icon" th:href="@{/static/img/favicon.gif}" type="image/gif" />-->

    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap-theme.css}" />
    <script th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/resources/js/popper.js}"></script>
    <script th:src="@{/resource/js/bootstrap.min.js}"></script>
</head>
</html>